<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">

			<div class="wrap_header">
				<!-- Logo -->
				<a href="index.html" class="logo">
					<img style="width:100%;" src="images/team_name.jpg" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">

							<li class="sale-noti">
								<a href="/login/federated/google">Sign in with Google</a>
							</li>
						</ul>
					</nav>
				</div>


			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="index.html" class="logo-mobile">
				<img src="images/team_name.jpg" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">

					<li class="item-menu-mobile">
						<a href="/login/federated/google">Sign in</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>


    <p style="color:red; text-align:center;">user login is required</p>

	<!-- Blog -->
	<section class="blog bgwhite p-t-94 p-b-65">
		<div class="container">
			<div class="sec-title p-b-52">
				<h4 class="m-text5 t-center">
					SC2006 TDDC / Group 1
				</h4>
				<h3 class="m-text5 t-center">
					Team_Name
				</h3>
			</div>

			<div class="row">
				<div class="col-sm-10 col-md-3 p-b-30 m-l-r-auto">
					<!-- Block3 -->
					<div class="block3">
						<a class="block3-img dis-block hov-img-zoom">
							<img src="images/team_name.jpg" alt="IMG-BLOG">
						</a>

						<div class="block3-txt p-t-14">
							<h4 class="p-b-7">
								<h3 style="text-align:center;">
									Argel
								</h3>
							</h4>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-3 p-b-30 m-l-r-auto">
					<!-- Block3 -->
					<div class="block3">
						<a class="block3-img dis-block hov-img-zoom">
							<img src="images/team_name.jpg" alt="IMG-BLOG">
						</a>

						<div class="block3-txt p-t-14">
							<h4 class="p-b-7">
								<h3 style="text-align:center;">
									Royce
								</h3>
							</h4>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-3 p-b-30 m-l-r-auto">
					<!-- Block3 -->
					<div class="block3">
						<a class="block3-img dis-block hov-img-zoom">
							<img src="images/team_name.jpg" alt="IMG-BLOG">
						</a>

						<div class="block3-txt p-t-14">
							<h4 class="p-b-7">
								<h3 style="text-align:center;">
									Syazwan
								</h3>
							</h4>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-3 p-b-30 m-l-r-auto">
					<!-- Block3 -->
					<div class="block3">
						<a class="block3-img dis-block hov-img-zoom">
							<img src="images/team_name.jpg" alt="IMG-BLOG">
						</a>

						<div class="block3-txt p-t-14">
							<h4 class="p-b-7">
								<h3 style="text-align:center;">
									Adam
								</h3>
							</h4>
						</div>
					</div>


			</div>
		</div>
	</section>


<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">




	<div class="t-center s-text8 p-t-20">
		<a>SC2006 Team_Name</a>
	</div>
</div>
</footer>




	


<% include ../partials/footer %>
</body>
</html>
